body{
    background: url("home\ back.jpg");
    background-size: cover;
    background-position: center;
    }
    .nav {
        
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: rgb(0, 0, 0);
        padding: 15px;
        padding-right: 60px;
      }
      .reg{
        justify-content: space-between;
        margin-right: 50px;
      }
      .h,.a,.c,.he{
        display: inline-block;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 8px;
        padding-bottom: 8px;
        background-color: #d2ecd3;
        color: #4CAF50;
        text-decoration: none;
        border-radius: 20px;
        font-size: 1.2rem;
        margin-left: 50px;
      }
      .links {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      
      .links a {
        text-decoration: none;
        color: #000000;
        margin-right: 20px;
        font-size: 25px;
      }
      .links a:hover{
        transform: matrix3d(1.05, 0, 0, 0, 
        0, 1.05, 0, 0, 
        0, 0, 1.05, 0, 
        0, 0, 0, 1);
      transition: transform 0.5s ease-in-out;
        background-color: beige;
        color: #333;
      }
      
      .logbtn,
      .sinbtn {
        display: inline-block;
        padding: 10px 20px;
        color: rgb(0, 0, 0);
        text-decoration: none;
        font-weight: bold;
        font-size: 1.2rem;
        margin-left: 10px;
      }
      
      .logbtn a,
      .sinbtn a {
        color: rgb(0, 0, 0);
        text-decoration: none;
      }
      
      .logbtn:hover,
      .sinbtn:hover {
        font-family: sans-serif;
        background-color: #2dce32a4;
        border-radius: 20px;
        color: beige;
      }
      
      .menubtn {
        display: none;
      }
      .just-click{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 60px;
      }
      .just{
        color: bisque;
      }
      .row{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 100px;
        margin-bottom: 50px;
      }
      .about-us,.resources,.creator {
        width: 300px;
        height: auto;
        border-radius: 50px;
        border: 2px solid black; 
      }
      .resources,.creator{
        box-shadow: 10px 10px 5px #000000;
      }
      .about-us{
        box-shadow: 10px 10px 10px beige;
      }
      .row img:hover {
        transform: matrix3d(1.05, 0, 0, 0, 
        0, 1.05, 0, 0, 
        0, 0, 1.05, 0, 
        0, 0, 0, 1);
      transition: transform 0.5s ease-in-out;
      }







.modal {
  display: none;
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0,0,0,0.4);
}


.modal-content {
  background-color: rgb(243, 243, 177);
  margin: 10% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 500px; 
  box-shadow: 0px 0px 15px #888888; 
  border-radius: 20px;
}


.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}






.modal2 {
  display: none;
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0,0,0,0.4);
}


.modal-content2 {
  background-color: beige;
  margin: 10% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 500px; 
  box-shadow: 0px 0px 15px #888888; 
  border-radius: 20px;
}


.close2 {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close2:hover,
.close2:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}







.modal3 {
  display: none;
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(1, 70, 97, 0.39);
}


.modal-content3 {
  background-color: beige;
  margin: 10% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 500px; 
  box-shadow: 0px 0px 15px #888888; 
  border-radius: 20px;
}


.close3 {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close3:hover,
.close3:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}

